@font-face {
    font-family: "iconfont"; /* Project id 2579613 */
    src: url('//at.alicdn.com/t/font_2579613_wzh405zoth.woff2?t=1622303668452') format('woff2'),
         url('//at.alicdn.com/t/font_2579613_wzh405zoth.woff?t=1622303668452') format('woff'),
         url('//at.alicdn.com/t/font_2579613_wzh405zoth.ttf?t=1622303668452') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-gengduo-tianchong:before {
    content: "\e66f";
  }