@font-face {
  font-family: "iconfont"; /* Project id 2579613 */
  src: url('//at.alicdn.com/t/font_2579613_s13bq0ud0eg.woff2?t=1622345177037') format('woff2'),
       url('//at.alicdn.com/t/font_2579613_s13bq0ud0eg.woff?t=1622345177037') format('woff'),
       url('//at.alicdn.com/t/font_2579613_s13bq0ud0eg.ttf?t=1622345177037') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiajiahaowubiankuang:before {
  content: "\e60d";
}

.icon-gengduo-tianchong:before {
  content: "\e66f";
}
