<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomorrow</title>
    <link rel="shortcut icon" href="/front_end/static/icon/待办.png" type="image/x-icon">
    <link rel="stylesheet" href="/front_end/style/iconfont.css">
    <script src="../public/vue/vue.js"></script>
    <link rel="stylesheet" href="/front_end/style/todo_vue.css">
</head>
<body>
    <div id="app">
        <transition-group name='change'>
            <cards v-for='items in cards' v-bind:head_name='items' v-bind:key='items.id' @deleting_cards='deleting'>
            
                <template v-slot:pieces>
                    <pieces v-bind:content='items_' v-for='items_ in items.pieces' v-bind:key='items_.id'></pieces>
                </template>
                <template v-slot:add>
                    <div class="icon-tianjiajiahaowubiankuang add_task" @click='temp()'></div>
                </template>
            </cards>
        </transition-group>
        <button class="add" @click='addCards()'>添加</button>
        
        <input class="input" type="text" :class="addCardsObj" v-if="hideInput" v-to_focus v-model='inputValue'>
        
        <button class="submit" v-if="hideInput" @click='adding()'>提交</button>
        
        <demo></demo>

    </div>

    
    <script  src="/front_end/src/todo_vue.js"></script>
</body>
</html>